body {
    background-image: url(/images/dizayn_s_gerbom.jpg);
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
#appBlock
{
    margin-top: 150px;
    text-align: -webkit-center;
}
.dashButtons
{
    display: block;
    width: 400px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}
#exitBlock
{
    text-align: -webkit-center;
}
#exitButton
{
    width: 300px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}