body
{
    background-color: #eee;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
#appBlock
{
    width: 1200px;
    margin-top: -25px;
}
.abs
{
    position: absolute;
}
#tank
{
    width: 140px;
    margin-top: 50px;
}
#tank2
{
    width: 130px;
    margin-left: 998px;
    margin-top: 303px;
}

#slivki
{
    width: 90px;
    margin-top: 573px;
    margin-left: 772px;
}
#separator
{
    width: 150px;
    margin-left: 517px;
    margin-top: 594px;
}
#kirpich
{
    width: 30px;
    margin-left: 551px;
    margin-top: 564px;
}
#gomo
{
    width: 170px;
    margin-top: 210px;
    margin-left: 525px;
}
#pou1
{
    width: 80px;
    margin-left: 447px;
    margin-top: 372px;
}
#pou2
{
    width: 80px;
    margin-left: 526px;
    margin-top: 372px;
}
#pou3
{
    width: 80px;
    margin-left: 605px;
    margin-top: 372px;
}
#pou4
{
    width: 80px;
    margin-left: 368px;
    margin-top: 372px;
}
#viderj
{
    width: 65px;
    margin-top: 405px;
    margin-left: 729px;
}
#nasos
{
    width: 60px;
    margin-top: 282px;
    margin-left: 150px;
}
#nasos2
{
    width: 60px;
    margin-top: 282px;
    margin-left: 457px;
}
#buffer_tank
{
    width: 120px;
    height: 105px;
    margin-top: 237px;
    margin-left: 254px;
}
.outerPipesVert
{
    position: absolute;
    width: 17px;
    background-color: rgb(246,144,33);
    text-align: -webkit-center;
}
.outerPipesHorz
{
    position: absolute;
    height: 16px;
    background-color: rgb(246,144,33);
    padding-top: 1px;
}
.innerPipesVert
{
    height: 0px;
    width: 15px;
    background-color: white;
}
.innerPipesHorz
{
    width: 0px;
    height: 15px;
    background-color: white;
}
#buttons
{
    position: absolute;
    margin-top: 500px;

}
#startButton
{
    height: 40px;
    width: 150px;
}
#playButton
{
    height: 40px;
    width: 150px;
}
#timerDiv
{
    height: 40px;
    width: 150px;
    display: none;
}

#tankInfo1
{
    position: absolute;
    margin-left: 150px;
    margin-top: 75px;
}
#tankInfo2
{
    position: absolute;
    margin-left: 1136px;
    margin-top: 339px;
}

.myProgress {
    position: absolute;
    width: 20px;
    height: 120px;
    background-color: #f5f5f5;
    display: inline-block;
    box-shadow: inset 0px 4px 6px #ccc;
    vertical-align: inherit;
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}
.myBar {
    height: 1%;
    width: 100%;
    background-color: #101565;
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

