body
{
    background-color: #eee;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
#appBlock
{
    //margin-top: 100px;
}
.carsImg
{
    margin-top: 47px;
    width: 200px;
    display: block;
}
.barrelsImg
{
    width: 120px;
    height: 170px;
}
#barellsBlock
{
    margin-left: 250px;
}
#carsBlock
{
    width: 200px;
    float: left
}
.myProgress {

    width: 20px;
    height: 120px;
    background-color: #f5f5f5;
    display: inline-block;
    box-shadow: inset 0px 4px 6px #ccc;
    vertical-align: inherit;
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}
.myBar {
    height: 1%;
    width: 100%;
    background-color: #101565;
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}
.indicatorLabels
{
    position: absolute;
    width: 100%;
    text-align: center;
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    font-size: 12px;
    margin-top: 50px;
}

/* ТРУБЫ */

#pipes
{
    position: relative;
    width: 600px;
    height: 300px;
    float: left;

}
.toBarrelsPipesBlock
{
    width: 100%;
    height: 90px;
}
.highPipesBlock
{
    width: 100%;
    height: 30px;
}
.middlePipesBlock
{
    width: 100%;
    height: 102px;
}
.lowPipesBlock
{
    width: 100%;
    height: 30px;
}

.toBarrelPipes
{
    height: 100%;
    width: 30px;
    display: inline-block;
}

.toBarrelPipesInt
{
    width: 15px;
    margin: auto;
    height: 60px;
    background-color: rgb(246,144,33);
    outline: 1px solid rgb(246,144,33);
}

.highPipes
{
    height: 30px;
    display: inline-block;
    margin-left: -.26em;
}

.highPipesInt
{
    height: 15px;
    width: 70%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    background-color: rgb(246,144,33);
    outline: 1px solid rgb(246,144,33);
}
.middlePipes
{
    height: 100%;
    width: 15px;
    display: inline-block;
    background-color: rgb(246,144,33);
    outline: 1px solid rgb(246,144,33);

}

.lowPipes
{
    height: 30px;
    display: inline-block;
    margin-left: -.26em;
}

.lowPipesInt
{
    height: 15px;
    width: 70%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    background-color: rgb(246,144,33);
    outline: 1px solid rgb(246,144,33);

}

.iconDiv
{
    width: 26px;
    height: 26px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

/* Надписи и абсолютные элементы */
.carText
{
    position: absolute;
    font-size: 14px;
}
#carText1
{
    margin-top: 30px;
    margin-left: 15px;
}
#carText2
{
    margin-top: 160px;
    margin-left: 15px;
}
#carText3
{
    margin-top: 295px;
    margin-left: 15px;
}
#carText4
{
    margin-top: 425px;
    margin-left: 15px;
}