<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Дипломогенератор 3000</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/scripts/jquery-3.1.1.js"></script>
</head>
<body>
    <div id="barellsBlock">
        <img class="barrelsImg" src="/images/barell.png">
        <img class="barrelsImg" src="/images/barell.png">
        <img class="barrelsImg" src="/images/barell.png">
    </div>
    <div id="carsBlock">
        <img class="carsImg" src="/images/car.png">
        <img class="carsImg" src="/images/car.png">
    </div>
</body>
</html>