<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Дипломогенератор 3000</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/scripts/jquery-3.1.1.js"></script>
</head>
<body>
    <div id="barellsBlock">
        <img class="barrelsImg" src="/images/barell.png" onclick="move()">
        <div class="myProgress">
            <div class="myBar" id="barIndicator1"></div>
        </div>
        <img class="barrelsImg" src="/images/barell.png">
        <div class="myProgress">
            <div class="myBar" id="barIndicator2"></div>
        </div>
        <img class="barrelsImg" src="/images/barell.png">
        <div class="myProgress">
            <div class="myBar" id="barIndicator3"></div>
        </div>
    </div>
    <div id="carsBlock">
        <img class="carsImg" src="/images/car.png">
        <img class="carsImg" src="/images/car.png">
    </div>
    <div id="pipes">
        <div id="toBarrelsPipesBlock">
            <div class="toBarrelPipes" style="margin-left: 93px;">
                <div class="iconDiv" onclick="activatePoint(0)" id="point0"></div>
                <div class="toBarrelPipesInt" id="pipe30"></div>
            </div>
            <div class="toBarrelPipes" style="margin-left: 115px;">
                <div class="iconDiv" onclick="activatePoint(1)" id="point1"></div>
                <div class="toBarrelPipesInt" id="pipe41"></div>
            </div>
            <div class="toBarrelPipes" style="margin-left: 115px;">
                <div class="iconDiv" onclick="activatePoint(2)" id="point2"></div>
                <div class="toBarrelPipesInt" id="pipe52"></div>
            </div>
        </div>
        <div id="highPipesBlock">
            <div class="highPipes" style="margin-left: 0; width: 123px">
                <div class="highPipesInt" style="width: 93px" id="pipe3"></div>
                <div class="iconDiv" onclick="activatePoint(3)" style="float: right;" id="point3"></div>
            </div>
            <div class="highPipes">
                <div class="highPipesInt" style="width: 121px" id="pipe34"></div>
                <div class="iconDiv" onclick="activatePoint(4)" style="float: right;" id="point4"></div>
            </div>
            <div class="highPipes">
                <div class="highPipesInt" style="width: 121px" id="pipe45"></div>
                <div class="iconDiv" onclick="activatePoint(5)" style="float: right;" id="point5"></div>
            </div>
        </div>
        <div id="middlePipesBlock">
            <div class="middlePipes" style="margin-left: 101px;" id="pipe36"></div>
            <div class="middlePipes" style="margin-left: 130px;" id="pipe47"></div>
            <div class="middlePipes" style="margin-left: 130px;" id="pipe58"></div>
        </div>
        <div id="lowPipesBlock">
            <div class="lowPipes" style="margin-left: 0; width: 123px">
                <div class="lowPipesInt" style="width: 93px" id="pipe6"></div>
                <div class="iconDiv" onclick="activatePoint(6)" style="float: right;" id="point6"></div>
            </div>
            <div class="lowPipes">
                <div class="lowPipesInt" style="width: 121px" id="pipe67"></div>
                <div class="iconDiv" onclick="activatePoint(7)" style="float: right;" id="point7"></div>
            </div>
            <div class="lowPipes">
                <div class="lowPipesInt" style="width: 121px" id="pipe78"></div>
                <div class="iconDiv" onclick="activatePoint(8)" style="float: right;" id="point8"></div>
            </div>
        </div>
    </div>
    <script src="/scripts/firstLab.js"></script>
</body>
</html>