<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<div id="appBlock">
    <button class="dashButtons" onclick="goToFirst()">Лабораторная №1</button>
    <button class="dashButtons" onclick="goToSecond()" style="margin-left: 20px">Лабораторная №2</button>
    <button class="dashButtons" onclick="goToThird()" style="margin-left: 20px">Лабораторная №3</button>
    <button class="dashButtons" onclick="reports()" style="margin-left: 20px">Отчеты</button>
</div>
<div id="exitBlock">
    <button id="exitButton" onclick="logout()">Выход</button>
</div>
<script>
    function goToFirst() {
        document.location.href='app.html';
    }
    function goToSecond() {
        document.location.href='secondApp.html';
    }
    function goToThird() {
        document.location.href='thirdApp.html';
    }
    function reports() {
        document.location.href='reports.html';
    }
    function logout() {
        delete sessionStorage.user;
        document.location.href='login.html';
    }
</script>
</body>
</html>