<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<img src="/images/logo_bez_fona.png" style="position: absolute; width: 200px">
<div id="appBlock">
    <button class="dashButtons" onclick="goToFirst()">Лабораторная №1<br>Приемно-моечное отделение</button>
    <button class="dashButtons" onclick="goToSecond()">Лабораторная №2<br>Производство пастеризованного молока</button>
    <button class="dashButtons" onclick="goToThird()" style="margin-bottom: 10px">Лабораторная №3<br>Производство кисломолочного продукта</button>
    <button class="dashButtons" onclick="reports()" style="margin-bottom: 20px">Отчеты</button>
</div>
<div id="exitBlock">
    <button id="exitButton" onclick="logout()">Выход</button>
</div>
<script>
    function goToFirst() {
        document.location.href='app.html';
    }
    function goToSecond() {
        document.location.href='secondApp.html';
    }
    function goToThird() {
        document.location.href='thirdApp.html';
    }
    function reports() {
        document.location.href='reports.html';
    }
    function logout() {
        delete sessionStorage.user;
        document.location.href='login.html';
    }
</script>
</body>
</html>