<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<img src="/images/logo_bez_fona.png" style="position: absolute; width: 200px">
<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading" style="font-size: 26px; text-align: center">Введите логин и пароль</h2>
        <input type="email" class="form-control" placeholder="Логин" id="inputLogin">
        <input type="password" class="form-control" placeholder="Пароль" id="inputPassword">
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="login()">Войти</button>
    </form>
    <!--<a href="secondApp.html" id="cheatButton1"><button>лаб2</button></a>-->
    <!--<a href="thirdApp.html" id="cheatButton1"><button>лаб3</button></a>-->
    <div id="doReg">
        <a href="reg.html" class="btn btn-default" role="button" style="width: 20%">Зарегистрироваться</a>
    </div>
</div>
<script src="/scripts/login.js"></script>
</body>
</html>