<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/reg.css" rel="stylesheet">
</head>
<body>
<img src="/images/logo_bez_fona.png" style="position: absolute; width: 200px">
<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading" style="font-size: 26px; text-align: center">Регистрация</h2>
        <input type="email" class="form-control" placeholder="Логин" id="inputLogin">
        <input type="email" class="form-control" placeholder="Имя" id="inputName">
        <input type="email" class="form-control" placeholder="Фамилия" id="inputSurname">
        <input type="email" class="form-control" placeholder="Группа" id="inputGroup">
        <input type="password" class="form-control" placeholder="Пароль" id="inputPassword" style="margin-bottom: -1px">
        <input type="password" class="form-control" placeholder="Пароль ещё раз" id="inputConfirmPassword">
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="reg()">Зарегистрироваться</button>
    </form>
</div>
<div id="doLogin">
    <a href="login.html" class="btn btn-default" role="button" style="width: 20%">Всё таки есть уже аккаунт?</a>
</div>
<script src="/scripts/reg.js"></script>
</body>
</html>