<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа №2</title>
    <link href="/css/secondApp.css" rel="stylesheet">
</head>
<body>

<div id="appBlock">
    <img class="abs" id="tank" src="/images/secondApp/Tank.jpg">
    <div class="abs" id="ventil"></div>
    <div class="abs" id="nasos"></div>
    <img class="abs" id="pou" src="/images/secondApp/POU.jpg">
    <img class="abs" id="gomo" src="/images/secondApp/gomogenizator.jpg">
    <img class="abs" id="kirpich" src="/images/secondApp/blok_podklyuchenia_separatora.jpg">
    <img class="abs" id="separator" src="/images/secondApp/Separator_2.jpg">
    <img class="abs" id="slivki" src="/images/secondApp/tank_nizhniy.jpg">
    <img class="abs" id="tank2" src="/images/secondApp/Tank.jpg">
        <!-- Pipes --> <!-- В лабе 12 вертикальных труб и 9 горизонтальных -->
    <!-- Вертикальные -->
    <div class="outerPipesVert" id="vertPipe1" style="margin-top: 253px; margin-left: 51px; height: 24px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe2" style="height: 80px; margin-top: 155px; margin-left: 283px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe3" style="height: 38px; margin-top: 172px; margin-left: 538px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe4" style="height: 55px; margin-top: 155px; margin-left: 615px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe5" style="height: 75px; margin-top: 155px; margin-left: 1038px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe6" style="height: 285px; margin-top: 367px; margin-left: 460px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe7" style="height: 69px; margin-top: 583px; margin-left: 1102px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe8" style="height: 76px; margin-top: 367px; margin-left: 538px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe9" style="height: 53px; margin-top: 367px; margin-left: 614px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe12" style="height: 41px; margin-top: 367px; margin-left: 691px;">
        <div class="innerPipesVert"></div>
    </div>
    <div class="outerPipesVert" id="vertPipe13" style="height: 108px; margin-top: 283px; margin-left: 937px;">
        <div class="innerPipesVert"></div>
    </div>
    <!-- Горизонтальные -->
    <div class="outerPipesHorz" id="horzPipe1" style="width: 99px; margin-top: 277px; margin-left: 51px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe2" style="margin-top: 277px;width: 60px;margin-left: 180px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe3" style="width: 255px; margin-left: 300px; margin-top: 155px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe4" style="width: 406px; margin-left: 632px; margin-top: 155px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe5" style="width: 625px; margin-left: 477px; margin-top: 635px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe6" style="width: 53px; margin-left: 555px; margin-top: 426px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe7" style="width: 187px; margin-left: 638px; margin-top: 426px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe8" style="width: 246px; margin-left: 708px; margin-top: 391px;">
        <div class="innerPipesHorz"></div>
    </div>
    <div class="outerPipesHorz" id="horzPipe9" style="width: 46px; margin-left: 954px; margin-top: 283px;">
        <div class="innerPipesHorz"></div>
    </div>
    <!-- Инпуты -->
    <div id="inputsBlock">
        <table>
            <tr>
                <td>
                    Температура молока на первой секции:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Температура молока на второй секции:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Температура молока в выдерживателе:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Время работы выдерживателя:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Давление в гомогенизаторе:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Температура в пастеризаторе:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Время работы пастеризатора:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
            <tr>
                <td>
                    Температура в охладителе:<br/>
                    <input type="text">
                </td>
                <td><button>Подтвердить</button></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>